// @import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap&subset=cyrillic');
// $pixel-font: 'Press Start 2P';
$pixel-font: 'J-Glyph';
$j-font: 'J-Glyph';

:root {
  font-size: 20px;

  @media (max-width: 450px) {
    font-size: 18px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #beb;
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  position: relative;

  border: 1px solid limegreen;
  color: limegreen;
  text-shadow: 1px 1px 2px #272;
  background: #222;
  box-shadow: 2px 2px 10px #272;

  line-height: 1.6em;
  font-size: 1rem;
  letter-spacing: .05em;
  white-space: nowrap;

  &:disabled {
    opacity: .5;
  }

  &:enabled:hover,
  &:enabled:active {
    outline: 3px solid #c33;
    color: #fff;
    border-color: #fff;
  }
}


.App {
  cursor: default;
  user-select: none;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: $pixel-font;
  text-align: center;

  h1 {
    color: green;
  }

  button {
    font-family: $pixel-font;
    font-size: .7rem;
  }
}


.Board {
  position: relative;

  padding: 10px 0;
}

.Matrix {
  overflow: hidden;
  position: relative;
  width: 90vw;
  max-width: 450px;

  display: grid;
  grid-template-columns: repeat(var(--w), 1fr);

  border: 3px solid green;
  background: #121;
  color: #3c3;

  .Board.is-over &,
  .Board.is-frozen & {
    pointer-events: none;
    color: #272;
  }
}

.Rain {
  pointer-events: none;
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.Rain-stream {
  flex: 1;

  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: stretch;

  // background: rgba($color: red, $alpha: .1);
}

.Rain-drop,
.Cell {
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    // keep same height as width
    content: '';
    padding-bottom: 100%;
    display: inline-block;
    vertical-align: top;
  }
}

.Rain-drop {
  font-weight: bold;
  font-size: 15px;
  @media (max-width: 450px) {
    font-size: 3.3vw;
  }
  font-family: 'J-Glyph';
  color: #282;
  transform: translate(-.1em, -.1em) scale(3);

  &:nth-of-type(1) {
    opacity: .666;
    font-weight: normal;
    color: #fff;
    text-shadow: 0 0 5px #efe, 0 0 2px #282;
  }

  @for $i from 2 through 8 {
    &:nth-of-type(#{$i}) {
      opacity: #{0.75 - $i / 10};
    }
  }
}

.Cell {
  z-index: 1;
  position: relative;
  // border: 1px solid #131;

}
.Cell-char {
  font-size: 1rem;
  // font-weight: bold;
  color: #afa;
  text-shadow: 0 0 15px #e22;
  transform: scale(3.9, 2.6);

  &:not(:empty) {
    animation: appear forwards .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .Cell.is-cursor & {
    // opacity: .666;
    // color: #e22;
    animation: none;
    transform: scale(3.9, 2.6);
    color: #3c3;
    text-shadow: 0 0 15px #e22, 0 0 10px #e22, 0 0 5px #e22;
  }

  .Cell.is-selected & {
    color: #fff;
    // font-weight: bold;
    animation: none;
    transform: scale(3.9, 2.6);
  }

  .Cell.is-cleared &:empty{
    transform: scale(3);

    &::before {
      content: '·';
      opacity: .3;
    }
  }
}

@keyframes appear {
  from {
    // transform: scale(1.5);
    text-shadow: 0 0 15px #e22, 0 0 2px #e22;
  }
  30% {
    color: #e22;
  }
  to {
    transform: scale(3, 2);
    text-shadow: 0 0 1px #393, 0 0 5px #393;
    color: #3d3;
  }
}

.StatusBar {
  margin-top: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  font-size: .75rem;
}

.StatusBar-info {

  // word-spacing: -.8em;

  &.is-danger {
    color: #a21;
  }
}
.StatusBar-action {
  &.is-blinking button::before {
    pointer-events: none;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    outline: 3px solid #3c3;
    animation: blink 2s infinite alternate cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.Message {
  z-index: 100;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: .5em 1em;

  border: 3px solid #3c3;
  background: rgba(22, 55, 22, .85);
  box-shadow: 0 0 1em #2e2;
  color: #3c3;

  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: .1em;
  text-transform: uppercase;
  white-space: nowrap;
}
