$font-text: 'LotuscoderBold';
$font-digit: 'Lotuscoder';
$font-glyph: 'Lotuscoder';

:root {
  font-size: 22px;

  @media (max-width: 450px) {
    font-size: 18px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #beb;
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  position: relative;

  border: 1px solid limegreen;
  color: limegreen;
  text-shadow: 1px 1px 2px #272;
  background: #222;
  box-shadow: 2px 2px 10px #272;

  line-height: 1.6em;
  font-size: 1rem;
  letter-spacing: .05em;
  white-space: nowrap;

  &:disabled {
    opacity: .5;
  }

  &:enabled:hover,
  &:enabled:active {
    outline: 3px solid #c33;
    color: #fff;
    border-color: #fff;
  }
}


.App {
  cursor: default;
  user-select: none;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: $font-text;
  text-align: center;

  h1 {
    color: green;
  }

  button,
  input,
  textarea,
  select {
    font-family: $font-text;
    font-size: .7rem;
  }
}


.Board {
  position: relative;

  padding: 10px 0;
}

.Matrix {
  overflow: hidden;
  position: relative;
  width: 90vw;
  max-width: 450px;

  border: 3px solid green;
  background: #121;
  color: #3c3;

  .Board.is-over &,
  .Board.is-frozen & {
    pointer-events: none;
    opacity: .8;
  }
}
.Matrix-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--w), 1fr);
}

.Rain {
  pointer-events: none;
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 100%;
}

.Rain-stream {
  position: absolute;
  top: 0;
  left: calc(100% / var(--w) * var(--x));
  width: calc(100% / var(--w));
  height: 100%;

  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: stretch;

  // background: rgba($color: red, $alpha: .1);
}

.Rain-drop,
.Cell {
  position: relative;
  padding-bottom: 100%; // keep it squar-ish

  // border: 1px solid darkolivegreen;
}

.Rain-drop-char,
.Cell::before,
.Cell-char {
  overflow: hidden;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Rain-drop-char {
  font-family: $font-glyph;
  // font-weight: bold;
  font-size: 2.3rem;
  color: #282;

  .Rain-drop:nth-of-type(1) & {
    opacity: .666;
    // font-weight: normal;
    color: #fff;
    text-shadow: 0 0 5px #efe, 0 0 2px #282;
  }

  @for $i from 2 through 8 {
    .Rain-drop:nth-of-type(#{$i}) & {
      opacity: #{1 - $i / 5};
    }
  }
}

.Cell {
  z-index: 2;
  position: relative;

  font-family: $font-digit;
  font-size: 2.4rem;
  // font-weight: bold;

  &.is-cleared:empty::before {
    content: '·';
    opacity: .3;
  }

  // &.is-cursor,
  &.is-selected {
    // lower `z-index` compensates scaled click area, so it's not overlaying siblings
    z-index: 1;
    transform: scale(1.3);
  }
}

@keyframes char-reveal {
  from {
    opacity: .5;
    color: #faa;
    text-shadow: 0 0 1px #e22, 0 0 5px #f33;
    transform: var(--transform-from);
  }
  30% {
    color: #e22;
  }
  60% {
    opacity: 1;
    color: #3d3;
  }
  to {
    opacity: 1;
    color: #3d3;
    // text-shadow: 0 0 1px #393, 0 0 5px #393;
    transform: var(--transform-to);
  }
}

.Cell-char {
  opacity: .5;
  margin-top: -.1em;

  --transform-from: scale(1.8, 1);
  --transform-to: scale(1.2, 1);

  color: #faa;
  transform: var(--transform-from);
  animation: char-reveal forwards .6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-delay: calc(50ms * var(--yMax5, 0) - 50ms);

  .Cell.is-cursor & {
    opacity: 1;
    animation: none;
    color: #3d3;
    transform: var(--transform-to);
    text-shadow: 0 0 1rem #e22, 0 0 .5rem #e22, 0 0 .1rem #e22;
  }

  .Cell.is-selected & {
    opacity: 1;
    animation: none;
    color: #3d3;
    transform: var(--transform-to);
    color: #fff;
  }
}

.StatusBar {
  margin-top: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  font-size: .75rem;
}

.StatusBar-info {

  // word-spacing: -.8em;

  &.is-danger {
    color: #a21;
  }
}
.StatusBar-action {
  &.is-blinking button::before {
    pointer-events: none;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    outline: 3px solid #3c3;
    animation: blink 2s infinite alternate cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.Message {
  z-index: 100;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: .2rem 1rem .4rem;

  border: 3px solid #2e2;
  background: rgba(22, 55, 22, .85);
  box-shadow: 0 0 1rem #2e2;
  color: #2e2;

  line-height: 1em;
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  white-space: nowrap;

  animation: blink reverse .1s cubic-bezier(0.215, 0.61, 0.355, 1);
}
